<mat-nav-list >
    <a mat-list-item routerLink="/signup" (click)="onClose()" *ngIf="!isAuth">
      <mat-icon>input</mat-icon>
      Signup</a>
    <a mat-list-item routerLink="/login" (click)="onClose()" *ngIf="!isAuth">
      <mat-icon>login</mat-icon>
      Login</a>
    <a mat-list-item routerLink="/training" (click)="onClose()" *ngIf="isAuth">
      <mat-icon>Fitness</mat-icon>
      Training</a>
      <a mat-list-item routerLink="/login" (click)="onLogout()" *ngIf="isAuth">
        <mat-icon>Logout</mat-icon>
        logout</a>
  </mat-nav-list>