 .example-container {
  max-width: 100%;
  height: 100%;
}

.example-sidenav {
  padding: 20px;
  width: 250px;
  
}
.example-mat-toolbar{
  display: flex;
 justify-content: space-between;
}
.example-sidenave-bar{
  margin: 5%;
}
.example-sidenave-bar a{
  
 padding: 1%;
 margin: 2%;

} 
